@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #0D4F8B	;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 29px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #0D4F8B	;
}

p{
	font-family: Raleway, sans-serif;
	font-size: 18px;
}

footer {
	text-align: center;
	color: white;
	font-family: Helvetica, sans-serif;
	background-color: #0D4F8B;
	height: 100px;
	padding-top:1em;
}

h2 {
	font-family: Helvetica, sans-serif;
	color: #0D4F8B;
	font-weight: lighter;
	font-size: 32px;
}

h1 {
	font-family: Raleway, sans-serif;
	color: #0D4F8B;
	font-weight: lighter;
	font-size: 24px;
}

a{
	font-family: Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: white;

}

ul{
	 font-family: Raleway, sans-serif;

}

#cntc{
	font-family: Raleway, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	color: black;
	margin-left:0em;
	margin-right: 2em;

}


.vName {
	color: red;
	font-size: 20px;
	margin-top: .5em;
	margin-left: .3em;
    padding: .5em .4em .18em .2em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
}

#vName {
	color: red;
	margin-top: .5em;
	margin-left: .3em;
    padding: .5em .4em .18em .2em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
}

.vName a {
	text-decoration: none;
	margin-top: .5em;
	margin-left: .3em;
    padding: .5em .4em .18em .2em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
}

.logIn {
	text-align: center;
	margin-left: 3em;
	margin-bottom:2em;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}


#face{
	height:40px;
	width: 40px;
    padding: .5em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
    border-radius: 15%;

}

#twit{
	height:40px;
	width: 40px;
    padding: .5em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
    border-radius: 15%;
}

#you{
	height:40px;
	width: 40px;
    padding: .5em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
        border-radius: 15%;
}
#linked{
	height:40px;
	width: 40px;
    padding: .5em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
        border-radius: 15%;
}

#year{
	height:25px;
	width: 25px;
	margin-top: .5em;
	margin-left: .3em;
    padding: .5em .4em .18em .2em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
    border:solid black;
    border-radius: 15%;
}


#log{
	height:40px;
	width: 60px;
	margin-top: .5em;
	margin-left: .3em;
    padding: .2em .4em .18em .2em;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
    border-radius: 15%;
}

#life {
	height: 250px;
	width: 250px;
	border-radius: 10%;
	margin-left: 18em;
		-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}

.partners {
	height: 150px;
	width: 250px;
	border-radius: 5%;
	border: 1px solid;
	border-color: #A0A0A0;
	margin-top: 0%;
	margin-bottom: 1%;
	margin-left: 0%;
		-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
	
}

#main{
	margin-left: 1em;
	height: 100%;
	width: 100%;
	border-radius: 10%;
	border-color: white;
	-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}

#ld {
	margin-left:1em;
	height: 250px;
	width: 300px;
	border-radius: 2%;
	border-color: gray;
	border-width: 2px;
		-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}
#ld2{
	margin-left: 5em;
	height: 250px;
	width: 300px;
	border-radius: 2%;
	border-color: gray;
	border-width: 2px;
		-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}
#intro{
	margin: 3% 20% 10% 20%;
}

#contacts{
	margin: 2% 20% 10% 20%;
}

#circ{
	height: 150px;
	width: 150px;
	border-radius: 50%;
			-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
}

#circemail{
	height: 150px;
	width: 150px;
	border-radius: 50%;
			-moz-box-shadow: 10px 10px 5px #ccc; 
	-webkit-box-shadow: 10px 10px 5px #ccc; 
	box-shadow: 10px 10px 5px #ccc;
	margin-left: 5em;
}

#ptn{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;

}

#elevator-pitch {
	text-align:center;
}

#elevator-pitch .gform_wrapper .gsection_description,#elevator-pitch .gform_wrapper h2.gsection_title,#elevator-pitch .gform_wrapper h3.gform_title,#elevator-pitch p,.gform_wrapper #elevator-pitch .gsection_description,.gform_wrapper #elevator-pitch h2.gsection_title,.gform_wrapper #elevator-pitch h3.gform_title {
	color:#282828;
	line-height:3.125em;
	margin:1.875em auto 2.5em;
	width:70%;
}

#elevator-pitch .normal {
	font-size:1.5625em;
	font-style:normal;
	font-family:"Gotham 4r","Gotham A","Gotham B",arial,verdana,sans-serif;
	font-weight:400;
}

#elevator-pitch .normal.period {
	position:relative;
	left:-.375em;
}

#elevator-pitch .callout {
	display:inline-block;
	font-style:normal;
	font-family:"Gotham 5r","Gotham A","Gotham B",arial,verdana,sans-serif;
	font-weight:500;
	margin:0 .25em;
	position:relative;
}

#elevator-pitch .callout .word {
	font-size:2.0625em;
}

#elevator-pitch .callout:hover .hover {
	display:block;
}

#elevator-pitch .callout:hover .hover .word {
	color:white;
}

#elevator-pitch .callout span {
	color:#cf9212;
}

#elevator-pitch .callout .hover {
	background:#cf9212;
	border:#ae7704 .0625em solid;
	-webkit-box-shadow:0 .5em .625em 0 rgba(0,1,1,.2);
	-moz-box-shadow:0 .5em .625em 0 rgba(0,1,1,.2);
	box-shadow:0 .5em .625em 0 rgba(0,1,1,.2);
	display:none;
	left:-.3125em;
	position:absolute;
	top:0;
	z-index:1;
}

#elevator-pitch .callout .hover .description,#elevator-pitch .callout .hover .hr,#elevator-pitch .callout .hover .word {
	display:block;1m
}

#elevator-pitch .callout .hover .hr {
	background:#ae7704;
	height:.0625em;
	margin:auto;
	width:95%;
}

#elevator-pitch .callout .hover .description {
	-webkit-font-smoothing:antialiased;
	color:#e4edf9;
	font-size:.875em;
	line-height:initial;
	padding:.75em .5em;
}
